<div class="container">
  <footer class="container-fluid footer-container">
    <div class="row section-row ">
      <div class="col-md-2 row-column with-gap">
        <app-company-info></app-company-info>
      </div>
      <div class="col-md-2 row-column">
        <app-company-links></app-company-links>
      </div>
      <div class="col-md-2 row-column">
        <app-products-list></app-products-list>
      </div>
      <div class="col-md-2 row-column">
        <app-services></app-services>
      </div>
      <div class="col-md-2 row-column ">
        <app-contact></app-contact>
      </div>
    </div>
  </footer>
</div>
