<div class="main-container">
  <div class="container">
    <div class="our-servive-section">
      <div class="our-service-txt">
        <h1 class="common-h1" id="common-h1">OUR SERVICES</h1>
      </div>
      <div class="row">
        <div class=" col-md 12 services-section">
          <button class="btn btn-dark">Automotive</button>
          <button class="btn btn-dark">Medical</button>
          <button class="btn btn-dark">IOT</button>
          <button class="btn btn-dark">IIOT</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="system-engineering-section ">
          <div class="sys-heading">
            <h1 class="system-txt" id="common-h1">System Engineering</h1>
          </div>
          <div class="sys-explore-btn">
            <button class="btn explore-btn">Explore <i class="fa-solid fa-arrow-right"></i></button>
          </div>
          <div class="sys-paragraph">
            <p class="system-paragraph" id="common-p">Systems engineering is an interdisciplinary field of engineering and
              engineering management that focuses on how to design, integrate, and manage complex systems over their
              life cycles. At its core, systems engineering utilizes systems thinking principles to organize this body
              of knowledge.</p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <img src="../../../../assets/images/system-engineering-img.png" alt="system-engineering-img" class="img-fluid">
      </div>
    </div>
  </div>
</div>