<div class="product-container">
  <div class="main-container">
    <div class="container">
      <h1 class="question-txt-heading" id="common-h1">
        Frequently asked questions
      </h1>
      <div class="accordion question-accordion" id="accordionExample">
        <div class="accordion-item custom-accordian">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed custom-accordian-btn" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <h3 class="question-txt" id="common-h3">What's the advantage over hiring a full-time designer?</h3>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body custom-accordian-body">
              <h4 class="answer-txt" id="common-h4">Great Question! To begin, the expense for retaining a
                full-time designer at a senior level has surpassed €80,000 per year, inclusive of benefits
                (and finding an available one might prove challenging). If you also need animation, you might
                end up paying double this to hire a motion designer.</h4>
            </div>
          </div>
        </div>

        <!-- Second Accordion Item -->
        <div class="accordion-item custom-accordian">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed custom-accordian-btn" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <h3 class="question-txt" id="common-h3">Is there a maximum number of requests I am allowed to
                make?</h3>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body custom-accordian-body">
              <h4 class="answer-txt" id="common-h4">Great Question! To begin, the expense for retaining a
                full-time designer at a senior level has surpassed €80,000 per year, inclusive of benefits
                (and finding an available one might prove challenging). If you also need animation, you might
                end up paying double this to hire a motion designer.</h4>
            </div>
          </div>
        </div>

        <!-- Third Accordion Item -->
        <div class="accordion-item custom-accordian">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed custom-accordian-btn" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
              <h3 class="question-txt" id="common-h3">How quickly can I expect to receive the designs I've
                requested?</h3>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body custom-accordian-body">
              <h4 class="answer-txt" id="common-h4">Great Question! To begin, the expense for retaining a
                full-time designer at a senior level has surpassed €80,000 per year, inclusive of benefits
                (and finding an available one might prove challenging). If you also need animation, you might
                end up paying double this to hire a motion designer.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="our-clients">
    <div class="container">
      <h1 class="trusted-txt-heading" id="common-h1">
        Trusted by global brands
      </h1>
      <div class="row">
        <div class="col-md-3">
          <img src="../../../../assets/images/our-client-img-1.png" alt="client-img-1" class="img-fluid">
        </div>
        <div class="col-md-3">
          <img src="../../../../assets/images/our-client-img-2.png" alt="client-img-2" class="img-fluid">
        </div>
        <div class="col-md-3">
          <img src="../../../../assets/images/our-client-img-3.png" alt="client-img-3" class="img-fluid">
        </div>
        <div class="col-md-3">
          <img src="../../../../assets/images/our-client-img-4.png" alt="client-img-4" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  <div class="title-section">
    <div class="company-txt-section">
      <h1 class="company-txt">ETTIKSOFT TECHNOLOGIES</h1>
    </div>
  </div>
</div>