.product-container{
  width: 100%;
  overflow: hidden;
}
.main-container{
  background-color: var(--black);
  width: 100%;
  padding: 80px 0;
}
.question-txt-heading,.trusted-txt-heading{
  font-family: 'Adamina', serif;
  font-weight: 400;
  color: var(--dark-gray);
  text-align: center;
  margin-bottom:30px;
}
.question-txt{
  font-family: 'Assistant', serif;
  font-weight: 600;
  color: var(--lite-gray);
}
.answer-txt{
  font-family: 'Assistant', serif;
  font-weight: 600;
  color: var(--dark-gray);
}
.custom-accordian {
  background-color: var(--black);
  border: 1px solid var(--dark-gray);
  margin-bottom: 20px;
  border-radius: 10px;
}

.custom-accordian-btn {
  background-color: var(--black);
  border: none;
  border-radius: 10px;
  color: var(--lite-gray);
}
.accordion-header {
  margin: 0;
}
.accordion-item.collapsed .accordion-header {
  border-bottom: none;
}
.accordion-header {
  margin: 0;
  line-height: 0;
  border-radius: 10px;
  border-top: 1px solid var(--dark-gray);
  border-right: 1px solid var(--dark-gray);
  border-left: 1px solid var(--dark-gray);
  border-bottom: none
}
.accordion-button::after{
  background-image: url('../../../../assets/images/plus.png');
  height: 1em;
  width: 1em;
}
.accordion-button:not(.collapsed)::after {
  background-image: url('../../../../assets/images/multiply.png');
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  box-shadow: none;
}
.accordion-button:focus {
z-index: 0;
border-color: #FEFEFE;
outline: 0;
box-shadow: none;
}
.our-clients{
  width: 100%;
  background-color: #0E0E0E;
  padding: 40px 0;

}
.title-section {
  width: 100%;
  padding: 80px 0;
  background-color: var(--black);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.company-txt {
  font-size: 4vw; /* Use viewport width unit for responsive font size */
  font-weight: 400;
  line-height: 1.5;
  color: var(--white);
  text-align: center;
  font-family: 'Adamina', serif;
}

@media (max-width: 991px) {
  .col-md-3 {
    width: 50%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }

  .company-txt {
    font-size: 6vw; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 575px) {
  .col-md-3 {
    width: 100%;
  }

  .company-txt {
    font-size: 8vw; /* Adjust font size for even smaller screens */
  }
}
