<div class="main-container">
  <div class="container">
    <h1 class="product-txt" id="common-h1">PRODUCTS</h1>
    <div class="row product-row">
      <div class="col-md-4 our-team-col">
        <div class="our-team-section">
          <h1 class="our-team-txt" id="common-h1">Our team consistently adopts the evolving technology and delivers the
            products to the Customer.</h1>
          <h4 class="product-para" id="common-h4">We manufacture the products which serve the present and future
            lifestyle requirements.</h4>
          <div class="sys-explore-btn">
            <button class="btn explore-btn">More <i class="fa-solid fa-arrow-right"></i></button>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="container mt-5">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <div class="load-box-section">
                    <div class="load-box-txt-section">
                      <h3 class="load-box-txt" id="common-h3"><span></span>LOAD BOX</h3>
                      <h4 class="load-box-para" id="common-h4">Load bank is a part of electrical test equipment used to
                        simulate electrical loads, to test power source without connecting it to its actual load</h4>
                    </div>
                    <div class="load-box-icon-section">
                      <i class="fa-solid fa-arrow-right" style="color:#00D8D6A6"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <div class="load-box-img">
                    <img src=".././../../../assets/images/product-load-box.svg" alt="load-box-img" class="">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row secound-row mt-4">
            <!-- Second Row -->
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <div class="breakout-box-img">
                    <img src=".././../../../assets/images/product-breakout-box.jpg" alt="breakout-box-img"
                    class="">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <div class="breakout-box-section">
                    <div class="break-out-txt-section">
                      <h3 class="breakout-box-txt" id="common-h3"><span></span>BREAKOUT BOX</h3>
                      <h4 class="breakout-box-para" id="common-h4">The Breakout boxes we manufacture span a wide
                        spectrum of
                        functionality. They have been designed in a very precise manner using the best technology and
                        high
                        quality of raw materials at affordable cost.</h4>
                    </div>
                    <div class="break-out-icon-section">
                      <i class="fa-solid fa-arrow-right" style="color:#00D8D6A6"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>