.main-container {
  width: 100%;
  height: 100vh; /* 100% of the viewport height */
  background-image: url(../../../../assets/images/intro-page-img.jpg);
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  padding-top: 30px;
}

.nav-bar {
  width: 100%;
  height: 100px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand img {
  height: 120px;
  width: 200px;
}

.hamburger-menu i {
  color: var(--white);
  font-size: 24px;
  cursor: pointer;
}
