.main-container {
  width: 100%;
  background: url('../../../../assets/images/section-2-back-img.jpg') center/cover no-repeat;
  padding: 80px 0;
  position: relative;
}

.main-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1;
  background-size: cover;
}

.custom-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: none;
  background-color: #121212;
  position: relative;
  z-index: 2;
  border-radius: 20px;
}
.card-1, .card-3{
  box-shadow: 8px 9px 28.799999237060547px 0px #CECECE40;
}
.card-body{
  padding:0;
}
.custom-card .card-body {
  color: white;
}
.card-2-body{
  height: 0%;
  width: 100%;
}
.card-2-body,
.card-6-body,
.card-7-body {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.card-3-body,
.card-4-body,
.card-5-body {
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: hidden;
}

.img-content-card {
  background-color: #121212;
  color: white;
  position: relative;
  border-radius: 20px;
  z-index: 2;
}

.img-content-card img {
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}


.card img {
  max-width: 100%;
  height: 100%;
}

.card-background-img {
  background: url('../../../../assets/images/section-2-card-1.jpg') center/cover no-repeat;
  height: 100%;
}
.card-3-background-img {
  background: url('../../../../assets/images/section-2-card-3.jpg') center/cover no-repeat;
  height: 100%;
}

.equal-height-card img {
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: 64px;
  font-weight: 400;
  font-family: 'Adamina', sans-serif;
  line-height: 1.5;
  color: #E7E7E7;
  z-index: 3;
  position: relative;
  color: white;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  font-family: 'Assistent', sans-serif;
  line-height: 1;
  color: #ADADAD;
}

p {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Assistent', sans-serif;
  text-align: justify;
  line-height: 1.5;
  color: #ADADAD;
}

.card-2-content {
  padding: 0 20px;
  width: 60%
}
.card-2-img-section{
  width: 40%
}
.card-2-img-section img, .card-7-img-section img {
  border-radius: 0px 20px 20px 0px;
}
.card-6-img-section img{
  border-radius: 20px 0px 0px 20px;
}
.center-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.center-column h1 {
  padding-top: 30px;
}

.card-3-content {
  height: 45%;
}

.card-3-img-section {
  height: 55%;
}

.card-3-content p,
.card-4-content p,
.card-5-content p,
.card-6-content p,
.card-7-content p,
.card-body p{
  padding: 0 15px 10px 15px;
}
.card-3-content h2,
.card-4-content h2,
.card-5-content h2,
.card-6-content h2,
.card-7-content h2,
.card-body h2 {
  padding: 10px 15px;
}

.card-3-img-section img {
  border-radius: 0 0 20px 20px;
}

.card-4-img-section,
.card-4-content,
.card-5-img-section,
.card-5-content {
  height: 50%;
}

.card-5-img-section img {
  border-radius: 20px 20px 0 0;
}

.card-4-img-section img {
  border-radius: 0 0 20px 20px;
}


.card-6-content,
.card-7-content {
  width: 65%;
}
.card-7-img-section,
.card-6-img-section{
  width: 35%;
}
.row-2{
  margin-top:50px;
}
.card-1-body h2 span{
  content: "";
  display: inline-block;
  width:5px;
  height: 30px;
  background-color: #FF1F47;
  margin-right: 10px;
}
.card-2-body h2 span,
.card-3-body h2 span,
.card-4-body h2 span,
.card-5-body h2 span,
.card-6-body h2 span,
.card-7-body h2 span{
  content: "";
  display: inline-block;
  width:5px;
  height: 30px;
  background-color:#565656;
  margin-right: 10px;
}
@media (max-width: 991px) {
  h1{
    text-align: center;
    padding-bottom: 30px;
  }
  .main-container{
    padding: 50px 0;
  }
  .row-1 {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .row-1 .col-md-6 {
    width: 100%;
    order: -1;
    margin-bottom: 30px;
  }

  .row-1 .col-md-3 {
    width: 50%;
    margin-bottom: 20px;
  }

  .row-2 {
    flex-direction: column;
  }

   .row-col-2, .row-col-1 {
    width: 100%;
    margin-bottom: 30px; 
  }
}
@media (max-width: 767px) {
  h1{
    text-align: center;
    padding-bottom: 30px;
  }
  .main-container{
    padding: 50px 0;
  }
  .row-1 {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .row-1 .col-md-6 {
    width: 100%;
    order: -1;
    margin-bottom: 30px;
  }
  .card-2-body{
    flex-direction: column;
  }
  .card-2-img-section,.card-2-content{
    width: 100%;
  }
  .card-2-img-section img, .card-7-img-section img {
    border-radius: 0px 0px 20px 20px;
  }
  .row-1 .col-md-3 {
    width: 100%;
    margin-bottom: 20px;
  }

  .row-2 {
    flex-direction: column;
  }
  .card-6-body, .card-7-body{
    flex-direction: column;
  }
  .card-6-img-section img{
    border-radius: 20px 20px 0 0;
  }
  .card-6-img-section,.card-6-content,
  .card-7-img-section,.card-7-content{
    width: 100%;
    height: 50%;
  }
   .row .col-md-6 {
    width: 100%;
    margin-bottom: 30px; 
  }
}

