<div class="container-fluid main-container">
  <div class="container">
    <div class="row row-1 mb-3">
      <div class="col-md-3">
        <div class="card card-1 custom-card card-background-img">
          <div class="card-body card-1-body">
            <h2><span></span>Braking System​</h2>
            <p>Braking systems in passenger vehicles use two primary types of brakes: disc brakes and drum brakes.
              While they both bring a vehicle to a stop, they differ in design and operation.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 center-column">

        <h1 style="color: white;">We also
          specialize in</h1>
        <div class="card card-2 img-content-card">
          <div class="card-body card-2-body">
            <div class="card-2-content">
              <h2><span></span>Airbag System​</h2>
              <p>An airbag is a vehicle occupant-restraint system using a bag designed to inflate extremely quickly,
                then quickly deflate during a collision. It consists of an airbag cushion, a flexible fabric bag, an
                inflation module, and an impact sensor. The purpose of the airbag is to provide a vehicle occupant
                with soft cushioning and restraint during a collision. It can reduce injuries between the flailing
                occupant and the interior of the vehicle.</p>
            </div>
            <div class="card-2-img-section">
              <img src="../../../../assets/images/section-2-card-2.jpg" class="card-img-bottom img-fluid" alt="Card 2 Image">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-3 custom-card card-3-background-img">
          <div class="card-body card-3-body">
            <h2><span></span>Steering System​</h2>
              <p>The steering system converts the rotation of the steering wheel into a swivelling movement of the
                road wheels in such a way that the steering-wheel rim turns a long way to move the road wheels a short
                way.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-2">
      <div class="col-md-6 row-col-1">
        <div class="row">
          <div class="col-md-6">
            <div class="card card-4 custom-card equal-height-card">
              <div class="card-body card-4-body">
                <div class="card-4-content">
                  <h2><span></span>Battery Management System​</h2>
                  <p>The steering system converts the rotation of the steering wheel into a swivelling movement of the
                    road wheels in such a way that the steering-wheel rim turns a long way to move the road wheels a
                    short way.</p>
                </div>
                <div class="card-4-img-section">
                  <img src="../../../../assets/images/section-2-card-4.jpg"  class="card-img-top img-fluid" alt="Card 4 Image">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="card card-5 custom-card equal-height-card mt-3 mt-md-0">
              <div class="card-body card-5-body">
                <div class="card-5-img-section">
                  <img src="../../../../assets/images/section-2-card-5.jpg" class="card-img-top img-fluid" alt="Card 4 Image">
                </div>
                <div class="card-5-content">
                  <h2><span></span>ADAS</h2>
                  <p>An advanced driver-assistance system includes technologies that assist drivers with the safe
                    operation of a vehicle. Through a human-machine interface, ADAS increases car and road safety.
                    ADAS uses automated technology, such as sensors and cameras, to detect nearby obstacles or driver
                    errors, and respond accordingly.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 row-col-2">
        <div class="row h-100">
          <div class="col-md-12">
            <div class="card card-6 img-content-card d-flex align-items-stretch h-100">
              <div class="card-body card-6-body">
                <div class="card-6-img-section">
                  <img src="../../../../assets/images/section-2-card-6.jpg" class="card-img-bottom img-fluid" alt="Card 6 Image">
                </div>
                <div class="card-6-content">
                  <h2><span></span>EV Motor Control System ​</h2>
                  <p>All-electric vehicles, also referred to as battery electric vehicles (BEVs), have an electric
                    motor instead of an internal combustion engine. The vehicle uses a large traction battery pack to
                    power the electric motor .</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <div class="card card-7 img-content-card d-flex align-items-stretch h-100">
              <div class="card-body card-7-body">
                <div class="card-7-content">
                  <h2><span></span>Infotainment System​</h2>
                    <p>The steering system converts the rotation of the steering wheel into a swivelling movement of the road wheels in such a way that the steering-wheel rim turns a long way to move the road wheels a short way.</p>
                </div>
                <div class="card-7-img-section">
                  <img src="../../../../assets/images/section-2-card-7.jpg" class="card-img-top" alt="Card 7 Image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>