<h3 class="h3" id="common-h3">Services</h3>
<ul class="list-unstyled service-list" id="mainMenu">
  <li *ngFor="let menuItem of menuItems">
    <a (click)="goToTop()" [routerLink]="menuItem.path"id="common-h4">{{ menuItem.label }}</a>
  </li>
</ul>
<div class="accordion" id="accordionExample">
  <div class="accordion-item  custom-accordian">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed custom-accordian-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
        <h3  id="common-h3">Services</h3>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse " aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body custom-accordian-body">
      <ul>
        <li *ngFor="let menuItem of menuItems" (click)="goToTop()" [routerLink]="menuItem.path">
          <a ><h4 class="h4" id="common-h4">{{ menuItem.label }}</h4></a>
        </li>
      </ul>
    </div>
  </div>
</div>
